@charset "utf-8";

@font-face{
  font-family: TextFont;
    src:url(DobkinPlain.ttf) format('ttf');
}
/*
   Author: Brett F
   Date: 12/4/2018
   
   Filename: Index.css

*/

/*Top of the Webpage Navigation Bar Styles*/
table{
  width: 100%;
  text-align: center;
  letter-spacing: 0.1em;
}

td{
  border: 6px solid blue;
}

a:link{
  color: red;
}

a:visited{
  color: purple;
}

a:hover{
  color: white;
}

/*Paragraph and general webpage styles*/
html{
  background-color: black;
  width: 100%;
  height: 100%;

}

h1{
  font-size: 3em;
  color: white;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: Dobkin, sans-serif;
}

h2{
  font-size: 1.5em;
  color: white;
  text-align: center;
}

img#Face{
  width: 30%
}
  
p{
  color: white;
  font-size: 1.4em;
}

p#footer{
  margin-top: 100px;
  text-align: center;
}
