 
 /*
   Author: Brett F
   Date: 12/4/2018
   
   Filename: Index.css

*/
 /*Header Styles*/
 h1{
  font-size: 2em;
  letter-spacing: 0em;
}

 /*Blockquote Styles */
 blockquote{
   color:white;
 }
 
blockquote:before {
    content: open-quote;
}
blockquote:after {
    content: close-quote;
}

/*Paragraph Styles */

p{
  font-size: 1.2em;
  margin-left: 40px;
}

/* Image Styles */
img#Hugh{
  height: 10%;
  width: 10%;
}

/*Tablet Styles*/
@media only screen and (min-width:481px){
  img#Hugh{
    height: 20%;
    width: 20%;
}

/*Desktop Styles*/
@media only screen and (min-width:769px){
  img#Hugh{
    height: 10%;
    width: 10%;
}
