 @charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 3
   
   Layout Style Sheet for A Soldier's Scrapbook
   Author: Brett F
   Date: 12/4/2018
   
   Filename: Projects.css

*/

/*Special Link Styles*/
nav#Table a:hover{
    color: red;
}

figcaption{
  text-decoration: none;
 }  
 
/* Project Page Styles */
p{
  color: white;
}

img{
  width: 50%;
}
/* Figure Styles */
figcaption{
  color: white;
}
  
img:hover{
  transform: scale(2);
}

/* Text Link Styles */
nav#ProjectList{
  color: rgba(237,47,215, 0.9);
  text-align: left;
  letter-spacing: 0.1em;
}

nav#ProjectList a{
  color: red;
}
nav#ProjectList a:visited{
  color: purple;
}

nav#ProjectList a:hover{
  color: red;
}
/*Webpage Styles */

img{
   opacity: 0.2;
}

/* Paragraph and Aside section styles */
aside{
  float: left;
}

p#top{
  color: white;
}

p#BalloonPopper{
  color: white;
  font-size: 1.2em;
  clear: left;
}

p#Program{
  font-size: 1.2em;
  color: white;
}

p#HTML{
  font-size: 1.2em;
  color: white;
}

/* bottom of the page table styles */
caption{
  color: white;
}

/* Mobile Styles*/
@media only screen and (max-width:480px) {
  table#Links{
   width: 100%;
 }
  nav#ProjectList a{
    color: red;
 } 
 nav#ProjectList a:visited{
   color: red;
 }
 
 nav#ProjectList a:hover{
   color: black;
 }
 
 a:link{
   font-size: 2em;
 }
  
caption{
   font-size: 2em;
 }
 img{
   display: none;
 }
 
 p{
   font-size: 3em;
   width: 100%;
 }
 
 p#Program{
   font-size: 3em;
 }
 
 p#BalloonPopper{
   font-size: 3em;
 }
}

/*Tablet Styles*/
@media only screen and (min-width:481px){
   img{
   display: none;
 }
}

/*Desktop Styles*/
@media only screen and (min-width:769px){
  img{
    display: inline;
}
}
