 @charset "utf-8";
 /*
   Author: Brett F
   Date: 12/4/2018
   
   Filename: Education.css

*/

/*Header Styles*/
h1{
  font-size:1.8em;
}

/*Text Styles*/
p{
  font-size: 1.4em;
}

/*Image Styles*/
img{
  height:20%;
  width:20%;
}
